@model Airelax.Application.Members.Dtos.Response.MemberViewModel

@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}


<div class="container ">
    <div class="row d-flex justify-content-center">
        <div class="d-md-none d-lg-none ">
            <nav class="navbar navbar-light position-fixed bg-white w-100">
                <div class="container-fluid w-100">
                    <a class="navbar-brand fs-3" href="#">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col my-4 mx-3 pt-5 ">
                <div class="mb-3 fw-bold p_Lo">
                    <a href="/member" class="text-decoration-none text-dark">帳號<i class="fas fa-angle-right mx-3"></i></a>
                    <span>個人資料</span>
                </div>
            </div>
            <h4 class="fw-bolder px-4  c_Lo">個人資料</h4>
            <div class="col-sm col-md-7 ph_area px-4">
                <div class="mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">法定名稱</div>
                        <button class="btn fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#nameBtn"
                                aria-expanded="false" style="color:#008489;" aria-controls="collapseExample">
                            編輯
                        </button>
                    </div>
                    <div>
                        <div id="nameID">@Model.Name</div>
                        <div class="collapse" id="nameBtn">
                            <div class="card card-body" style="border: none;">
                                <div>這是你旅行證件（駕照或護照）上所記載的姓名。</div>
                                <div class="row">
                                    <div class="col-6  mt-3">
                                        <div class="mb-2">
                                            姓名
                                        </div>
                                        <input id="nameInput" type="text" class="form-control" aria-label="Text input with checkbox">
                                    </div>
                                </div>
                                <button data-bs-toggle="collapse" data-bs-target="#nameBtn" id="sendNameBtn" type="submit" class="btn mt-4 Send">儲存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">性別</div>
                        <button class="btn fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#genderBtn"
                                aria-expanded="false" style="color:#008489;" aria-controls="collapseExample">
                            編輯
                        </button>
                    </div>
                    <div>
                        <div id="gender"></div>
                        <div class="collapse" id="genderBtn">
                            <div class="card card-body" style="border: none;">
                                <select id="genderSelect" class="form-select w-50" aria-label="Default select example">
                                    <option value="1">男性</option>
                                    <option value="2">女性</option>
                                    <option value="3" selected>其他</option>
                                </select>
                                <button data-bs-toggle="collapse" data-bs-target="#genderBtn" id="sendGenderBtn" type="submit" class="btn mt-4 Send">儲存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mt-4">
                    <div class="fw-bold mb-3">出生日期</div>
                    <div>
                        <div id="birthDate">@Model.Birthday</div>
                    </div>
                </div>
                <hr>
                <div class="mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">電子郵件地址</div>
                    </div>
                    <div>
                        <div id="email">@(string.IsNullOrEmpty(Model.Email) ? "未提供" : Model.Email)</div>
                    </div>
                </div>
                <hr>
                <div class="mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">電話號碼</div>
                        <button class="btn fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#phoneBtn"
                                aria-expanded="false" style="color:#008489;" aria-controls="collapseExample">
                            編輯
                        </button>
                    </div>
                    <div>
                        <div id="phoneNum">@Model.Phone</div>
                        <div class="collapse" id="phoneBtn">
                            <div class="card card-body" style="border: none;">
                                <div>用於通知、提醒和協助你登入</div>
                                <div class="row">
                                    <div class="col-6 mt-3">
                                        <div id="phoneNum"></div>
                                    </div>
                                </div>
                                <button class="fw-bold newPhoneNum" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#newPhoneNumBtn" aria-expanded="false" style="color:#008489;"
                                        aria-controls="collapseExample">
                                    新增
                                </button>
                                <div class="collapse" id="newPhoneNumBtn">
                                    <div class="card card-body" style="border: none;">
                                        <div class="fw-5">確定要新增嗎？</div>
                                        <div>若您新增其他電話號碼，日後將無法再使用電話號碼登入。</div>
                                    </div>
                                    <button class="fw-bold Send rounded-3" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#keyNewPhoneNumBtn" aria-expanded="false" aria-controls="collapseExample">
                                        繼續
                                    </button>
                                    <button class="fw-bold newPhoneNum" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#newPhoneNumBtn" aria-expanded="false" style="color:#008489;"
                                            aria-controls="collapseExample">
                                        取消
                                    </button>
                                </div>
                                <div class="collapse" id="keyNewPhoneNumBtn">
                                    <div class="card card-body" style="border: none;">
                                        <div class="fw-5">輸入一組新的電話號碼</div>
                                    </div>
                                    <div class="input-group mb-3 ">
                                        <span class="input-group-text" id="inputGroup-sizing-default">+886</span>
                                        <input id="phoneInput" type="tel" class="form-control" aria-label="Sizing example input"
                                               aria-describedby="inputGroup-sizing-default">
                                    </div>
                                    <button data-bs-toggle="collapse" data-bs-target="#phoneBtn" id="sendPhoneBtn" class="fw-bold Send rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#enter"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        儲存
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">地址</div>
                        <button class="btn fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#addressBtn"
                                aria-expanded="false" style="color:#008489;" aria-controls="collapseExample">
                            編輯
                        </button>
                    </div>
                    <div>
                        <div id="address">@(Model.ZipCode + Model.Country + Model.AddressDetail)</div>
                        <div class="collapse" id="addressBtn">
                            <div class="card card-body" style="border: none;">
                                <div>使用永久地址接收郵件。</div>
                                <div class="col-6 mt-3">
                                    <div>國家／地區</div>
                                    <select id="countrySelect" class="form-select" aria-label="Default select example">
                                        <option value="1" selected>台灣</option>
                                    </select>
                                </div>
                                <div class="mt-3">
                                    <div>街道地址</div>
                                    <input id="addressInput" type="text" class="form-control" aria-label="Text input with checkbox"
                                           placeholder="縣市 / 街道+號碼">
                                </div>
                                <button data-bs-toggle="collapse" data-bs-target="#addressBtn" id="sendAddressBtn" type="submit" class="btn mt-4 Send">儲存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-4 details">
                <div class="col  mx-4">
                    <div class="card card shadow p-3 mb-3 bg-body rounded">
                        <div class="card-body" style="border: none;">
                            <img src="~/dist/img/member/010.svg" style="height: 32px;" class="mb-2"/>
                            <h5 class="card-title fw-bold" style="font-size: 18px;">哪些詳細資訊可以編輯？</h5>
                            <p class="card-text" style="font-size: 16px;">
                                Airelax
                                用於驗證你身分的詳細資訊無法更改。你可以編輯聯絡資訊和部分個人資料，但我們可能會在你下次預訂或建立房源／體驗時要求你驗證身分。
                            </p>
                            <hr>
                            <img src="~/dist/img/member/001.svg" style="height: 38px;" class="mb-2"/>
                            <h5 class="card-title fw-bold" style="font-size: 18px;">哪些資訊會提供給其他人？</h5>
                            <p class="card-text" style="font-size: 16px;">Airelax只會在預訂確認後，才會提供聯絡資訊給房東和房客。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <link href="~/scss/Personal info.min.css" rel="stylesheet"/> }

@section endJS{
    <script>
    const sendNameBtn = document.getElementById("sendNameBtn");
    const sendGenderBtn = document.getElementById("sendGenderBtn");
    const sendPhoneBtn = document.getElementById("sendPhoneBtn");
    const sendAddressBtn = document.getElementById("sendAddressBtn");
    const nameInput = document.getElementById("nameInput");
    const phoneInput = document.getElementById("phoneInput");
    const addressInput = document.getElementById("addressInput");
    const genderSelect = document.getElementById("genderSelect");
    const countrySelect = document.getElementById("countrySelect");
    const nameID = document.getElementById("nameID");
    const gender = document.getElementById("gender");
    const phoneNum = document.getElementById("phoneNum");
    const address = document.getElementById("address");


        let memberInput = {
            Name: "@Html.Raw(Model.Name)", Gender: @Html.Raw((int) Model.Gender), Country: "@Html.Raw(Model.Country)", Zipcode: "@Html.Raw(Model.ZipCode)"
            , AddressDetail: "@Html.Raw(Model.AddressDetail)", Phone: "@Html.Raw(Model.Phone)"
        };

        addUpdateEvent(sendNameBtn);
        addUpdateEvent(sendGenderBtn);
        addUpdateEvent(sendPhoneBtn);
        addUpdateEvent(sendAddressBtn);


        function addUpdateEvent(element) {
            element.addEventListener("click", () => {
                sendAll(memberInput);
                updateView(memberInput);
                putToBack();
            })
        }

        function sendAll(memberInput) {
                memberInput.Name = nameInput.value?nameInput.value: memberInput.Name;
                memberInput.Gender = genderSelect.value?genderSelect.value:memberInput.Gender;
                memberInput.Phone = phoneInput.value? phoneInput.value: memberInput.Phone;
                memberInput.Country = countrySelect.value? countrySelect.value: memberInput.Country;
                memberInput.AddressDetail = addressInput.value ? addressInput.value : memberInput.AddressDetail;
        }
        function updateView(memberInput) {
            nameID.innerHTML = memberInput.Name;
            renderGender(memberInput.Gender);
                phoneNum.innerHTML = memberInput.Phone;
                address.innerHTML = memberInput.AddressDetail;

        }

        function renderGender(sex) {

            switch (Number(sex)) {
                case 1:

                    gender.innerHTML = "男性";
                    break;
                case 2:
                    gender.innerHTML = "女性";
                    break;
                case 3:
                    gender.innerHTML = "其他";
                    break;
            }
        }

        renderGender('@Html.Raw((int) Model.Gender)');

        function putToBack () {
            axios({
                method: 'Put',
                url: `/Member/detail`,
                headers: {
                'Content-Type': 'application/json'
                },
                data: JSON.stringify(memberInput),
            })
            .then(function (res) {
                console.log(res.data)
            })
            .catch(function (error) {
                console.log(error)
            });
            @*fetch(`/Member/@Html.Raw(Model.MemberId)/detail`, {
                body: JSON.stringify(memberInput),
                method: 'PUT'
            }
                ).then(function (res) {
                    res.json()

                }).then(j=>console.log(j) )
                .catch(function (error) {
                    console.log(error)
                });*@
         }
    </script>

}