@model Airelax.Application.Account.Dtos.Request.LoginInput
@{
    ViewBag.Title = "登入";
    Layout = "_LayoutAccount";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <main class="form-signin">

        <form>
            @Html.AntiForgeryToken()
            <h5>登入或註冊</h5>
            <h4 class="mb-3 fw-normal">
                <strong>Airelax 歡迎你</strong>
            </h4>

            <div class="form-floating">
                @Html.TextBoxFor(m => m.Account, new {@class = "form-control", id = "floatingEmail", placeholder = "電子郵件"})
                @Html.LabelFor(m => m.Account, new {@for = "floatingEmail"})
            </div>

            <div class="form-floating">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", id = "floatingPassword", placeholder = "密碼"})
                @Html.LabelFor(m => m.Password, new {@for = "floatingPassword"})
            </div>

            @Html.HiddenFor(m => m.ReturnUrl, new {value = ViewBag.ReturnUrl})

            <button class="w-100 btn signIn my-3" type="submit">繼續</button>
            <div class="order my-1">
                <span style="white-space:pre"> </span><span class="line"></span>
                <span style="white-space:pre"> </span><span class="txt">或</span>
                <span style="white-space:pre"> </span><span class="line"></span>
            </div>

            <div>
                <a class="w-100 btn my-2 social" asp-action="ThirdParty" asp-route-provider="Facebook">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" style="height: 20px; width: 20px; fill: currentcolor;">
                        <defs>
                            <path id="a" d="M.001 0H24v23.854H.001z"/>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <mask id="b" fill="#fff">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#a"/>
                            </mask><path d="M24 12c0-6.627-5.373-12-12-12S0 5.373 0 12c0 5.99 4.388 10.954 10.125 11.854V15.47H7.078V12h3.047V9.356c0-3.007 1.792-4.668 4.533-4.668 1.312 0 2.686.234 2.686.234v2.953H15.83c-1.491 0-1.956.925-1.956 1.874V12h3.328l-.532 3.469h-2.796v8.385C19.612 22.954 24 17.99 24 12" fill="#1877F2" mask="url(#b)"/><path d="M16.671 15.469L17.203 12h-3.328V9.749c0-.949.465-1.874 1.956-1.874h1.513V4.922s-1.374-.234-2.686-.234c-2.741 0-4.533 1.66-4.533 4.668V12H7.078v3.469h3.047v8.385a12.09 12.09 0 003.75 0V15.47h2.796" fill="#FFF"/>
                        </g>
                    </svg>
                    繼續使用Facebook登入
                </a>
                <a class="w-100 btn my-2 social" asp-controller="Account" asp-action="ThirdParty" asp-route-provider="Google">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" focusable="false" style="height: 20px; width: 20px; justify-content:flex-start">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M9 3.48c1.69 0 2.83.73 3.48 1.34l2.54-2.48C13.46.89 11.43 0 9 0 5.48 0 2.44 2.02.96 4.96l2.91 2.26C4.6 5.05 6.62 3.48 9 3.48z" fill="#EA4335"/><path d="M17.64 9.2c0-.74-.06-1.28-.19-1.84H9v3.34h4.96c-.1.83-.64 2.08-1.84 2.92l2.84 2.2c1.7-1.57 2.68-3.88 2.68-6.62z" fill="#4285F4"/><path d="M3.88 10.78A5.54 5.54 0 0 1 3.58 9c0-.62.11-1.22.29-1.78L.96 4.96A9.008 9.008 0 0 0 0 9c0 1.45.35 2.82.96 4.04l2.92-2.26z" fill="#FBBC05"/><path d="M9 18c2.43 0 4.47-.8 5.96-2.18l-2.84-2.2c-.76.53-1.78.9-3.12.9-2.38 0-4.4-1.57-5.12-3.74L.97 13.04C2.45 15.98 5.48 18 9 18z" fill="#34A853"/><path d="M0 0h18v18H0V0z"/>
                        </g>
                    </svg>
                    繼續使用Google登入
                </a>
                <a class="w-100 btn my-2 social" asp-action="ThirdParty" asp-route-provider="Line">
                    <img src="https://img.icons8.com/color/48/000000/line-me.png" style="width: 1.8rem;" alt="line"/>
                    繼續使用Line登入
                </a>
            </div>
        </form>
    </main>
}

@section CSS
{
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            padding: 15px;
            margin: auto;
        }

        h5 {
            font-size: 14px;
            width: 100%;
            text-align: center;
        }

        .form-signin .form-floating:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            height: 56px;
        }

        .form-signin label {
            color: #717171;
        }

        .signIn {
            color: #ffffff;
            background-color: rgb(227, 28, 95);
        }

            .signIn:hover {
                color: #ffffff;
                background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%)
            }

        .signIn:active {
            background-color: #ff385c;
            transform: scale(.98);
        }

        .order {
            height: 16px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .order .line {
            display: inline-block;
            width: 40%;
            border-top: 1px solid #dddddd;
        }

        .order .txt {
            color: #555;
            font-size: 12px;
            vertical-align: middle;
        }

        .social {
            border: 2px solid #dddddd;
        }

        .social:hover {
            border: 2px solid #222222;
        }

        @@media screen and (min-width:768px) {
            .form-signin {
                max-width: 488px;
            }
        }
    </style>
}