@model Airelax.Application.MemberInfos.Response.MemberInfoViewModel
@{
    Layout = "~/Views/Shared/_LayoutMemberInfo.cshtml";
}
@section header{
    <partial name="_MemberNavPartial"></partial>
}
<div class="container-xl">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="row headInfo">
                <div class="col-9 d-md-none">
                    <h2>嗨!我是 @Model.MemberName </h2>
                    <p>加入時間:@Model.RegisterTime</p>
                    @if (@Model.IsOwner)
                    {
                        <div class="aboutBtn" type="button" data-bs-toggle="collapse" data-bs-target="#aboutCollapse"
                             aria-expanded="false" aria-controls="aboutCollapse">
                            編輯個人資料
                        </div>
                    }
                </div>
                <div class="col-2 col-md-12">
                    <div>
                        <img class="portrait" src="@Model.MemberImg">
                    </div>
                    @if (@Model.IsOwner)
                    {
                        <a asp-controller="MemberInfo" asp-action="EditPhoto">更新照片</a>
                    }
                    <div>
                        <img class="honor" src="~/images/memberInfo/honor.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="row bestAndComment">
                <div class="best">
                    <img src="~/images/memberInfo/bestLandLord.svg" alt="best">
                    <span>超讚的阿</span>
                </div>
                <div class="comment">
                    <img src="~/images/memberInfo/star.svg" alt="comment">
                    <span>千萬則評價</span>
                </div>
            </div>
            <div class="row writtenAboutMe">
                <div class="writtenAbout">
                    <h3>關於我</h3>
                    <p id="writtenAboutMe">
                        @Model.About
                    </p>
                </div>
                <div class="writtenLocationArea">
                    <img src="~/images/memberInfo/home.svg" alt="writtenLocation">
                    <span id="writtenLocation">@Model.Location</span>
                </div>
                <div class="writtenWorkArea">
                    <img src="~/images/memberInfo/bag.svg" alt="writtenWork">
                    <span id="writtenWork">@Model.WorkTime</span>
                </div>
            </div>
            <div class="row writingAboutMe collapse" id="aboutCollapse">
                <partial name="~/Views/Shared/MemberInfo/_AboutCollapsePartial.cshtml" />
            </div>
            <div class="row checked">
                <h3>
                    <span>@Model.MemberName</span>
                    已確認
                </h3>
                <div class="col col-md-12">
                    <img src="~/images/memberInfo/hook.svg" />
                    <span>電子郵件</span>
                </div>
                <div class="col col-md-12">
                    <img src="~/images/memberInfo/hook.svg" />
                    <span>電話號碼</span>
                </div>
            </div>
            <div class="row houseSource d-md-none">
                <h3>
                    <span>@Model.MemberName</span>
                    的房源
                </h3>
                <partial name="~/Views/Shared/MemberInfo/_HousesSourseSwiperPartial.cshtml" />
            </div>
        </div>
        <div class="d-none d-md-block col-md-6">
            <div class="row mdHeadInfo">
                <h2>嗨！我是 @Model.MemberName</h2>
                <p>加入時間：@Model.RegisterTime</p>
                @if (@Model.IsOwner)
                {
                    <div class="mdAboutBtn" type="button" data-bs-toggle="collapse" data-bs-target="#mdAboutCollapse"
                         aria-expanded="true" aria-controls="mdAboutCollapse">
                        編輯個人資料
                    </div>
                }
            </div>
            <div class="row writtenAboutMe">
                <div class="writtenAbout">
                    <h3>關於我</h3>
                    <p id="MdWrittenAboutMe">
                        @Model.About
                    </p>
                </div>
                <div class="writtenLocationArea">
                    <img src="~/images/memberInfo/home.svg" alt="writtenLocation">
                    <span id="MdWrittenLocation">@Model.Location</span>
                </div>
                <div class="writtenWorkArea">
                    <img src="~/images/memberInfo/bag.svg" alt="writtenWork">
                    <span id="MdWrittenWork">@Model.WorkTime</span>
                </div>
            </div>
            <div class="row mdWritingAboutMe collapse" id="mdAboutCollapse">
                <partial name="~/Views/Shared/MemberInfo/_AboutMdCollapsePartial.cshtml" />
            </div>
            <div class="row houseSource">
                <h3>
                    <span>@Model.MemberName</span>
                    的房源
                </h3>
                <partial name="~/Views/Shared/MemberInfo/_HousesSourseSwiperPartial.cshtml" />
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="~/css/memberInfo/swiper-bundle.css">
    <link rel="stylesheet" href="~/scss/memberinfo/swiper.css">
    <!-- SHOP-68 CSS -->
    <link rel="stylesheet" href="~/scss/memberinfo/MemberInfo.min.css">
}

@section endJS{
    <script>
        //#region 各種宣告
        //負責傳去後端資料的物件
        let MemberInfoInput = { About: "", Location: "", WorkTime: "" };
        let tempInputValue = { About: "", Location: "", WorkTime: "" };
        //要呈現的地方
        ////手機
        const writtenAboutMe = document.getElementById("writtenAboutMe");
        const writtenLocation = document.getElementById("writtenLocation");
        const writtenWork = document.getElementById("writtenWork");
        ////桌機
        const MdWrittenAboutMe = document.getElementById("MdWrittenAboutMe");
        const MdWrittenLocation = document.getElementById("MdWrittenLocation");
        const MdWrittenWork = document.getElementById("MdWrittenWork");
        //手機collapse
        const meTextArea = document.getElementById("meTextArea");
        const locationInput = document.getElementById("locationInput");
        const workInput = document.getElementById("workInput");
        const cancelBtn = document.getElementById("cancelBtn");
        const saveBtn = document.getElementById("saveBtn");
        //桌機MdCollapse
        const MdMeTextArea = document.getElementById("MdMeTextArea");
        const MdLocationInput = document.getElementById("MdLocationInput");
        const MdWorkInput = document.getElementById("MdWorkInput");
        const MdCancelBtn = document.getElementById("MdCancelBtn");
        const MdSaveBtn = document.getElementById("MdSaveBtn");
        //#endregion

        //#region 儲存按鈕的click事件監聽
        MdSaveBtn.addEventListener("click", () => {
            saveAboutMeAction(MemberInfoInput,
                MdMeTextArea, MdLocationInput, MdWorkInput);

            putToBack();

            saveTempInputValue(tempInputValue,
                MdMeTextArea, MdLocationInput, MdWorkInput);

            showSameValue(tempInputValue, meTextArea, locationInput, workInput);

        });

        saveBtn.addEventListener("click", () => {
            saveAboutMeAction(MemberInfoInput,
                meTextArea, locationInput, workInput);

            putToBack();

            saveTempInputValue(tempInputValue,
                meTextArea, locationInput, workInput);

            showSameValue(tempInputValue, MdMeTextArea, MdLocationInput, MdWorkInput);
        });
        //#endregion

        //#region 取消按鈕的click事件監聽
        cancelBtn.addEventListener("click", () => {
            meTextArea.value = writtenAboutMe.innerText;
            locationInput.value = writtenLocation.innerText;
            workInput.value = writtenWork.innerText;
        });
        MdCancelBtn.addEventListener("click", () => {
            MdMeTextArea.value = MdWrittenAboutMe.innerText;
            MdLocationInput.value = MdWrittenLocation.innerText;
            MdWorkInput.value = MdWrittenWork.innerText;
        })

        //#endregion


        //#region  Methods

        ////把手機板與桌機板的input value弄成一致
        function showSameValue(input, otherMeTextArea, otherLocationInput, otherWorkInput) {
            otherMeTextArea.value = input.About;
            otherLocationInput.value = input.Location;
            otherWorkInput.value = input.WorkTime;
        }
        ////暫存input的value
        function saveTempInputValue(input, meTextArea, locationInput, workInput) {
            input.About = meTextArea.value;
            input.Location = locationInput.value;
            input.WorkTime = workInput.value;
        }
        ////儲存要傳出去的資料
        function saveAboutMeAction(input, meTextArea, locationInput, workInput) {
            input.About = meTextArea.value;
            input.Location = locationInput.value;
            input.WorkTime = workInput.value;
        }
        ////把資料傳出給後端
        function putToBack () {
            axios({
                method: 'Put',
                url: `/MemberInfo/@Html.Raw(Model.MemberId)`,
                headers: {
                    'Content-Type':'application/json'
                },
                data: MemberInfoInput,
            })
            .then(function (res) {
                    console.log(res.status);
                if (res.status == 200) {
                    updateWrittenArea(MemberInfoInput,
                        writtenAboutMe, writtenLocation, writtenWork);
                    updateWrittenArea(MemberInfoInput,
                        MdWrittenAboutMe, MdWrittenLocation, MdWrittenWork);
                }
            })
            .catch(function (error) {
                alert(error.toString());
            });
        }
        ////更新手機版或桌機板關於我
        function updateWrittenArea(input, me, location, work) {
            me.innerHTML = input.About;
            location.innerHTML = input.Location;
            work.innerHTML = input.WorkTime;
        }

        //#endregion
    </script>
    <!-- SWIPER -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- swiper initialize -->
    <script src="~/js/memberInfo/swiper.js"></script>
}